    <br><br>
<!--    <preloader-full></preloader-full>-->
    <div class="row login-page">
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 login-wrap">
        <form class="ng-untouched ng-pristine ng-valid login-form"
              (ngSubmit)="!userFormControl.hasError('required') && !userFormControl.hasError('pattern') && !passwordFormControl.hasError('required')
               && login()" #f="ngForm" novalidate>
          <div class="card">
            <div class="card-header custom-hight-log-signup text-center" data-background-color="rose">
              <h4 class="card-title log-signup-heading" style="font-size: 25px!important;;color: white">
                 Sign in to Your Account
              </h4>
              <div class="social-line">
                <a class="btn btn-just-icon btn-simple" style="box-shadow: none !important; background: none" (click)="signInWithFB()" >
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-just-icon btn-simple" style="box-shadow: none !important;background: none" (click)="signInWithGoogle()">
                  <img class="fa" src="../../assets/images/googlelogo/google.png">
                </a>
              </div>
            </div>
            <div class="card-content pd-btm-0">
              <mat-form-field class="example-full-width mat-size">
                <input matInput placeholder="Username"  tabindex=1 [formControl]="userFormControl" [(ngModel)]="model.username" required>
                <span class="pointer" *ngIf="model.username"  matSuffix mat-icon-button aria-label="Clear" (click)="model.username=''">
                  <mat-icon>close</mat-icon>
                </span>
                <mat-error *ngIf="userFormControl.hasError('pattern')">
                  Please enter a valid username
                </mat-error>
                <mat-error *ngIf="userFormControl.hasError('required')">
                  Username is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width mat-size">
                <input [type]="hide ? 'password' : 'text'"  matInput placeholder="Password" tabindex=2 [formControl]="passwordFormControl" [(ngModel)]="model.password" required>
                <mat-icon class="pointer" data-toggle="tooltip" title=" {{hide? 'Show' : 'Hide'}} Password" matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="checkpad text-left">

                <mat-slide-toggle><span class="staysignin">Stay Sign in</span></mat-slide-toggle>
              <a class="font2 forgot-pass" (click)="openDialog()">Forgot Password? </a>
            </div>
            <div class="form-group recaptcha-container" [ngClass]="{ 'has-error':!recaptcha}" >
              <app-recapcha></app-recapcha>
              <div *ngIf="!recaptcha" class="help-block">Invalid text, try again</div>
            </div>

            <div class="footer  text-center" style="height:50px;">
              <button type="submit" class="button login-signin-button" tabindex=3> Sign In</button>
            </div>
            <div class="footer">
              <label class="font1"> Don't have an account? <a class="signup-link" [routerLink]="['/register']"> Sign Up </a></label>
            </div>
            <div class="row" style="display: flex; flex-direction: row; justify-content: space-evenly; font-size: 15px; font-weight: 600; margin: 0px 0px 0px 25px">
              <a class="terms-of-uses" [routerLink]="['/terms']" target="_blank">Terms of use</a>
              <a class="terms-of-uses" [routerLink]="['/policy']" target="_blank"  >Privacy Policy</a>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 col-md-3"></div>
    </div>
<!--    <app-footer></app-footer>-->
