<!--  <preloader-full></preloader-full>-->
  <div class="card" >
    <button type="button" class="close" aria-label="Close" (click)="onNoClick()" tabindex="-1">
      <span aria-hidden="true">&times;</span>
    </button>
    <form (ngSubmit)="!emailFormControl.hasError('required') &&  emailsubmit()" #f="ngForm" id="resetpasswordform" name="resetpasswordform" method="post" >
      <div class="card-header text-center" style="margin-top: 10px!important;" data-background-color="rose">
        <h4 class="card-title"> Reset Password </h4>
      </div>
      <div class="card-content">
        <mat-form-field class="example-full-width mat-size">
          <input matInput type="email" placeholder="Enter Email" [formControl]="emailFormControl" [(ngModel)]="model.email" name="email">
          <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="footer text-right col-sm-12">
        <button class="button btn-primary custom" type="submit" id="submit" tabindex="2"> Send </button>
      </div>
    </form>
  </div>
