<!--<preloader-full></preloader-full>-->

<div class="main">

  <div class="container-fluid sidebar-container">
    <div class="row">
      <div class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix" >

        <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor  ">
          <i class="fas fa-key icon"></i> Change Password</h3>
        <ul class="categories-tree " >

          <li>
            <a [routerLink]="['/profile']"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
              <i class="fas fa-user icon"></i>
              <span  >My Profile</span>
            </a>
          </li>

          <li>
            <a style="cursor: pointer;" [routerLink]="['/myshopnroar']"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
              <i class="fas fa-heart icon"></i>
              <span  >My Wishlist</span>
            </a>
          </li>
          <li   *ngIf="sgflag['flag']!=true">
            <a style="cursor: pointer;" [routerLink]="['/updatepassword']"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase activek">
              <i class="fas fa-key icon"></i>

              <span  >Change Password</span>
            </a>
          </li>         <li>
          <a style="cursor: pointer;" style="cursor: pointer;" (click)="logout()"
             class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <i class="fas fa-lock icon"></i>


            <span >Logout</span>
          </a>
        </li>
        </ul>

      </div>
      <div class="col-md-9 change-password-div" >
        <div class="row row-lg">


          <div class="sidebar-div">

           <!-- End .registered-customer-section -->





              <!-- Start  -->
              <div class="top-padding">
                <div class="">
                  <div class="card one change-pass">
                      <div class="card-header" data-background-color="red">
                          <h2><i class="fa fa-key"></i>Change Password</h2>
                        </div>
                      <form (ngSubmit)="f.form.valid && updatePass()" #f="ngForm">

                    <div class="card-content">
                        <div class="row mrg-btm">
                            <div class="col-sm-12" style="margin-top: 10px">
                                <mat-form-field>
                                  <input  matInput  class="form-control" name="currentpassword"  type="password"
                                          [(ngModel)]="model.currentpassword" placeholder="Current Password" #currentpassword="ngModel" required>
                                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                                  <div *ngIf="f.submitted && !currentpassword.valid" class="help-block">This filed is required</div>
                                    <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="changePass.controls.oldPass.touched && changePass.controls.oldPass.invalid">
                                        <mat-error *ngIf="changePass.controls.oldPass.value == ''">
                                            Old Password cannot be empty
                                        </mat-error></mat-error> -->
                                  </mat-form-field>
                              <div *ngIf="currentpasswrong==false" class="help-block">Current password not matched
                              </div>

                            </div>
                        </div>
                        <div class="row mrg-btm">
                            <div class="col-sm-12 relative">
                                <mat-form-field>
                                  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                  <input  matInput type="email" class="form-control" name="password"  type="password"

                                         [(ngModel)]="model.password" placeholder="New Password" #password="ngModel" required>
                                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                                  <div *ngIf="f.submitted && !password.valid" class="help-block">This filed is required</div>
                                    <!-- <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="changePass.controls.newPass.touched && changePass.controls.newPass.invalid">
                                        <mat-error *ngIf="changePass.controls.newPass.value == ''">
                                            New Password cannot be empty
                                        </mat-error>
                                        <mat-error *ngIf="changePass.controls.newPass.hasError('pattern')">
                                            Password must be 8 characters long and must include 1 upper case, 1 lower case, 1 number and 1 special character
                                        </mat-error></mat-error> -->
                                  </div>
                                  </mat-form-field>
<!--                                  <p class="error" *ngIf="invalid && newPass!='' && !changePass.controls.newPass.hasError('pattern')">Old password and new password cannot be same</p>-->
                            </div>
                        </div>
                        <div class="row mrg-btm">
                            <div class="col-sm-12 relative">
                                <mat-form-field>
                                  <div [ngClass]="{ 'has-error': f.submitted && !repeatpassword.valid }">
                                  <input  matInput class="form-control" name="repeatpassword"
                                         type="password" (keyup)=check()
                                         [(ngModel)]="model.repeatpassword" placeholder="Repeat New Password" #repeatpassword="ngModel" required>
                                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                                  <div *ngIf="f.submitted && !repeatpassword.valid" class="help-block">This filed is required</div>
                                    <!-- <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="changePass.controls.confirmPass.touched && changePass.controls.confirmPass.invalid">
                                        <mat-error *ngIf="changePass.controls.confirmPass.value == ''">
                                            Confirm Password cannot be empty
                                        </mat-error>
                                      </mat-error> -->
                                  </div>
                                </mat-form-field>
                              <div *ngIf="update==true" class="help-block">Password has been updated.
                              </div>
                              <div *ngIf="update==false" class="help-block">Password not updated. Please try again later.
                              </div>
                              <div *ngIf="match==false" class="help-block">Password does not match the confirm password
                              </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button class="update-btn" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                  </form>
                  </div>
                </div>
              </div>

              <!-- End -->





          </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->
      </div><!-- End .col-md-9 -->


      <div class="mb100 visible-sm visible-xs"></div><!-- margin -->


    </div><!-- End .row -->
  </div><!-- End .container-fluid -->
  <div class="mb80 visible-md visible-lg"></div><!-- margin -->
</div><!-- End .main -->


<!--<app-footer></app-footer>-->
