

<h3 class="font-additional font-weight-bold text-uppercase customColor" style="text-align:center;">A glimpse into some of our Merchants</h3>
<br>

<div class="row" style="margin-left: 10px;margin-right: 10px;margin-top: 1%">

  <div class="col-md-1">
  </div>

  <div class="col-md-1">
    <a href="https://www.amazon.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/amazon.png" style="width: 100%;" alt="Partner">
    </a>

  </div>


  <div class="col-md-1">
    <a href="https://www.walmart.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/Walmart.png" style="width: 100%;" alt="Partner">
    </a>

  </div>
  <div class="col-md-1">
    <a href="https://www.ebay.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/EBay.png" style="width: 100%;" alt="Partner">
    </a>

  </div>
    <div class="col-md-1">
      <a href="https://www.groupon.com" title="Partner Name">
        <img src="https://storage.shopnroar.com/groupon.png" style="width: 100%;" alt="Partner">
      </a>

    </div>
  <div class="col-md-1">
    <a href="https://www.samsung.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/Samsung.png" style=" width: 100%; " alt="Partner">
    </a>

  </div>

  <div class="col-md-1">
    <a href="https://www.overstock.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/over.png" style="width: 100%; " alt="Partner">
    </a>

  </div>

  <div class="col-md-1">
    <a href="https://www.target.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/target.png" style="width: 100%; " alt="Partner">
    </a>

  </div>
  <div class="col-md-1">
    <a href="https://www.verizon.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/verizon.png" style="width: 100%;margin-top:-12px;" alt="Partner">
    </a>

  </div>
  <div class="col-md-1">
    <a href="https://www.sprint.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/sprint.png" style="width: 100%;margin-top:-12px;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">
    <a href="https://www.bestbuy.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/bestbuy.png" style="width: 100%;" alt="Partner">
    </a>
  </div>


</div>

<div class="row" style="margin-left: 10px;margin-right: 10px;margin-top: 1%">
  <div class="col-md-1">
  </div>
  <div class="col-md-1">
    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/ATT.png" style="width: 100%;" alt="Partner">
    </a>

  </div>


  <div class="col-md-1">
    <a href="https://www.tmobile.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/tmobile.png" style="width: 100%;" alt="Partner">
    </a>

  </div>
  <div class="col-md-1">
    <a href="https://www.newegg.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/newegg.png" style="width: 113%;" alt="Partner">
    </a>

  </div>


  <div class="col-md-2">
    <a href="https://www.appoutdoors.com"  title="Partner Name">
      <img src="https://storage.shopnroar.com/appoutdoors.png" style="width: 100%" alt="Partner">

    </a>
  </div>
  <div class="col-md-1">
    <a href="https://www.frys.com"  title="Partner Name">
      <img src="https://storage.shopnroar.com/fry.png" style="width: 100%; " alt="Partner">

    </a>
  </div>

  <div class="col-md-1">
    <a href="https://www.hp.com"  title="Partner Name">
      <img src="https://storage.shopnroar.com/epicsports.png" style="width: 100%; " alt="Partner">

    </a>
  </div>
  <div class="col-md-1">
    <a href="https://www.hp.com"  title="Partner Name">
      <img src="https://storage.shopnroar.com/kmartlogo.png" style="width: 84%; " alt="Partner">

    </a>
  </div>

  <div class="col-md-1">
    <a href="https://www.apple.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/apple.png" style="
      width: 84%; " alt="Partner">
    </a>

  </div>
  <div class="col-md-1">
    <a href="https://www.hp.com"  title="Partner Name">
      <img src="https://storage.shopnroar.com/hp.png" style="width: 84%; " alt="Partner">

    </a>
  </div>



</div>

<div class="row" style="margin-left: 10px;margin-right: 10px;margin-top: 1%;">

  <div class="col-md-1">
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/beallsflorida.png" style="width: 100%;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/costco.png" style="width: 100%;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/gap.png" style="width: 100%;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/fanaticslogo.png" style="width: 100%;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/sprint.png" style="width: 100%;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/bjs.jpg" style="width: 100%;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/oldnavy.png" style="width: 100%;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/isnorkel.jpg" style="width: 100%;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/bh.png" style="width: 100%;" alt="Partner">
    </a>
  </div>
  <div class="col-md-1">

    <a href="https://www.atnt.com" title="Partner Name">
      <img src="https://storage.shopnroar.com/macyslogo.png" style="width: 100%;" alt="Partner">
    </a>
  </div>
</div>
